<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: nav"></nav>

<div class="container">

    <div class="row">
        <div class="col-sm-3 text-right">
            <div class="center-block">
                <img width="200" th:src="@{'/img/'+${carById.name}+'.png'}"/>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="caption">
                <h3 th:text="${carById.name}"></h3>
                <p th:text="${carById.description}"></p>
                <h6 th:text="'Price: '+${carById.price}+ ' EUR / day'"></h6>
            </div>
        </div>
    </div>

    <hr>
    <!--  th:object="${customer}" -->
    <div class="container">

        <h3>Payment:</h3>

        <div class="col-sm-3"></div>
        <div class="col-sm-6">

            <form th:object="${customer}" method="post">
                <div class="form-group">
                    <label for="text">Card number:</label>
                    <input type="text" class="form-control" name="cardNumber" placeholder="Enter card number">
                </div>
                <div class="form-group">
                    <label for="text">CVV:</label>
                    <input type="text" class="form-control" name="cvv" placeholder="Enter CVV">
                </div>
                <button class="btn btn-success" type="submit">Next</button>
            </form>

        </div>
        <div class="col-sm-3"></div>

    </div>

    <hr>

    <footer th:replace="layout :: footer"></footer>

</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

<!-- Hide div when url contains some word -->
<script type="text/javascript">
    if (window.location.href.indexOf("date") != -1) {
        $("#checkAvailability").show();
    }
    else {
        $("#checkAvailability").hide();
    }
</script>

</body>
</html>